<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" 
	version="3.0">
	<display-name>EventsBooking</display-name>
	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>servlets.Home</servlet-class>
	</servlet>  
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>forms.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>forms.Register</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>form_spectacle</servlet-name>
		<servlet-class>forms.Spectacles</servlet-class>
	</servlet>
</web-app>